.product-box {
  position: relative;
}

.promotion-percent {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #fff;

  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.product-box .img-wrapper {
  height: 400px;
  position: relative;
}

.product-box .product-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.product-box a {
  color: var(--dark);
  text-decoration: none;
}

.product-box .product-detail {
  text-align: center;
}

.product-box .product-name {
  margin-bottom: 10px;
}

.product-box .prices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-box .original-price {
  color: gray;
  font-size: 18px;
  font-weight: bold;
  text-decoration: line-through;
  margin-right: 5px;
}

.product-box .original-price-2 {
  color: gray;
  font-size: 18px;
  font-weight: bold;

  margin-right: 5px;
}

.product-box .discounted-price {
  font-size: 16px;
  font-weight: normal;
  color: gray;
}
.product-box .product-name {
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif, "Lucida Sans", Arial, sans-serif;
  font-size: 22px; /* Kích thước tên sản phẩm lớn hơn */
}

.product-box .discounted-price {
  color: red; /* Đổi màu chữ của giá giảm thành màu đỏ */
}
