.product-box {
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    vertical-align: middle;
}

.product-box {
    width: 100%;
    min-width: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: calc(25% - 30px);
    margin: 0 15px 30px;
    padding: 0;
}

.product-box .products {
    padding: 3rem;
}

.product-box .price-cost {
    margin-bottom: 1rem;
    text-decoration: line-through;
}

.product-box .sale-price{
    font-weight: 700;
}

.product-box .discount {
    font-weight: 700;
    color: orange;
}

.img-wrapper{
    height: 400px;
}

.product-image{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-box a {
    color: var(--dark);
    text-decoration: none;
}