.cart-my{
    width: 1000px;
    height: 500px;
    background-color: white;
    
    margin-left: 25%;
   
    
    }
    .ant-image-mask{
     
    }
    .img-avatrt {
      
    }
    .btn-img{
        margin-left: 50%;
       
    }
    .btn.btn-dark{
    width: 200px;
    height: 50px;
margin-top: 70px;
    margin-left: -50px;
    
    }
  .infor{
    padding-left: 35%;
    margin-top: -380px;
    }

.tennguoinhan{
   
}