.table-order th {
  font-size: 14px;
  white-space: nowrap;
}
.text-mahoadon {
}
.table-order td {
  font-size: 14px;
}
.btn-dathang {
  background-color: black;
  padding: 0px 10px;
  margin: 0px 5px;
}
.btn.btn-dange{
width: 100px;
}
