.main_image {
  height: 700px;
  width: 500px;
}

.product_detail {
  padding: 70px 0;
  padding-left: 60px;
}

.product_detail .main-image,
.product_detail .product-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.product-image-wrap {
  width: 200px;
}

.product-count {
  background-color: #f8f8f8;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.product_detail ul li {
  display: inline-block;
  margin-left: 20px;
}

.product_detail ul li:first-child {
}

.product-right .rating-section {
  margin-bottom: 8px;
  margin-top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-right .rating-section h6 {
  margin-bottom: 0;
  margin-left: 10px;
  color: #323232;
  font-weight: 700;
  font-size: 15px;
}

.rating i {
  color: #ffa200;
}

.product-right .label-section .badge {
  padding: 6px 11px;
  font-size: 12px;
}

.badge-grey-color {
  background-color: #929292;
  color: #fff;
}

.product-right .label-section .label-text {
  text-transform: capitalize;
  padding-left: 5px;
}

.product-right h3 {
  font-size: 26px;
  color: #222;
  margin-bottom: 15px;
}

del {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
}

.product-right .price-detail span {
  font-size: 16px;
  padding-left: 10px;
}

.product-right .color-variant {
  margin-bottom: 10px;
}

.product-right .color-variant li.active {
  position: relative;
}

.product-right .color-variant li {
  height: 30px;
  width: 55px;
  cursor: pointer;
}

.bg-light0 {
  background-color: #d0edff;
}

.bg-light1 {
  background-color: #f1e7e6;
}

.bg-light2 {
  background-color: #bfbfbf;
}

.product-right .product-title {
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 16px;
}

.product-right .size-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-right .size-box ul li {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #efefef;
  text-align: center;
}

.product-right .size-box ul li a {
  color: #222;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.product-right .product-description .qty-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.product-right .product-description .qty-box .input-group {
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  width: unset;
}
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.color-variant {
  display: flex;
  gap: 10px;
  text-align: center;
}

.product-right .active {
  color: #ff4c3b;
  transition: 0.2s;
}
.promotionPercent {
  position: absolute;
  top: 1px;
  right: 350px;
  background-color: red;
  color: #fff;
  padding: 20x 20px;
  font-size: 18px;
  font-weight: bold;
}
.qty-container {
  display: flex;
  align-items: center;
}

.qty-input {
  margin-left: 10px;
}
.originalPrice {
  color: red;
}

.discountedPrice {
  color: black;
  text-decoration: line-through;
}
.btn-solid {
  width: 180px;
}
.size-item {
  padding-top: 12px;
}
.size-box {
  margin-left: 3px;
}

.color-item {
  padding-top: 12px;
}

.color-box {
  margin-left: 3px;
}
