.login-container {
  border: 3px solid #98999a;
  width: 65vh;
  height: 80vh;
  margin-left: 35%;
}
.text-login {
  margin-top: 20px;
  
  font-size: 25px;
  font-weight: bolder;
}
.ant-input.ant-input-lg.css-dev-only-do-not-override-3mqfnx {
  width: 50vh;
}

.btn.btn-dark {
  background-color: black;
  margin-top: 20px;
 
}
.cart-container{
  border: 2px solid rgb(195, 189, 189);
  height: 65vh;
  width: 70vh;
  margin-left: 70vh;
  border-radius: 4px 4px 4px  4px;
}
/* .container-text{
  display: flex;
  align-items: center;
  width: 400px;

} */
.p{
font-size: 14px;
}
.btn-login{
  background-color: black;
  margin-top: 20px;
}