.checkout-page .checkout-title {
  margin-bottom: 25px;
}

.checkout-page .checkout-details {
  position: relative;
  background-color: #f9f9f9;
  border: none;
  padding: 40px;
  max-width: 500px;
}

.order-box {
  position: relative;
  margin-bottom: 50px;
}

.order-box .title-box {
  position: relative;
  padding-bottom: 25px;
  color: #444;
  font-weight: 600;
  font-size: 22px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}

.order-box .title-box span {
  position: relative;
  width: 35%;
  float: right;
  line-height: 1.2em;
}

.order-box .qty {
  position: relative;
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
}

.order-box .qty li {
  position: relative;
  display: block;
  font-size: 15px;
  color: #444;
  line-height: 20px;
  margin-bottom: 20px;
}

.order-box .qty li span {
  float: right;
  font-size: 18px;
  line-height: 20px;
  color: #232323;
  font-weight: 400;
  width: 35%;
}

.order-box .sub-total {
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.order-box .sub-total li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.order-box .sub-total li .count {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #ff4c3b;
  font-weight: 400;
  width: 35%;
  float: right;
}

.order-box .total {
  position: relative;
  margin-bottom: 40px;
}

.order-box .total li {
  position: relative;
  display: block;
  font-weight: 400;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.order-box .total li .count {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  color: #ff4c3b;
  font-weight: 400;
  float: right;
  width: 35%;
}

.custom-user-form {
  display: flex;
  gap: 30px;
}

.selected {
  background-color: #e6f7ff;
  border-color: #91d5ff;
}
.address-button-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.address-button-wrapper button {
  margin-right: 8px;
}

.address-button-wrapper span {
  flex-grow: 1;
}
.btn-thanhtoan:hover {
  background-color: dodgerblue;
  border-radius: 5px;
  border: none;
}
.cart-thanhcong {
  width: 30%;
  /* padding-top: 50px;
  padding-left: 600px; */
  border: 2px  solid black;
  margin-left: 500px;
  border-radius: 5px;


}
.icon-thanhtoanthanhcong{
  background: url('../Cart/img/Sprites.96108a46\ \(1\).svg') no-repeat -1282px -1545px;
	width: 70px;
	height: 69px;
  margin-left: 40%;
  margin-top: 10%;
}
.text-thanhcong{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 20%;
  margin-top: 5%;
}
.text-thongtin{
  font-size: 20px;
  margin-left: 10%;
  margin-top: 5%;
}
.text-thongtin3{
  font-size: 20px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.text-thongtin2{
  font-size: 20px;
  margin-left: 10%;
  
}
.container-cart{
  width: 100%;
  height: 100%;
}
.selected{
  background-color: blue;
}

